	<div class="container-fluid">
		<div id="cinta-componente">
			<div id="cinta-img">
				<!-- <img id="logo" src="http://132.248.45.5/assets/img/unam/logo_unam_html_fe.png"> -->
			</div>
			<div id="cinta-busqueda">
				<div class="input-group mb-3">
					<input  style="border-radius: 10px 0 0 10px;" type="text" class="form-control" placeholder="BUSCAR" aria-label="Busqueda" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<span id="lupa" class="input-group-text" id="basic-addon2">
							<i class="fas fa-search"></i>
						</span>
					</div>
				</div>
			</div>	
			<div id = "cinta-titulo">
				<div class="area-menu">
					<i class="far fa-user"></i>
					<span class="objetivo">MI CUENTA</span>
				</div>
				<div class="area-menu">
					<i class="fas fa-question-circle"></i>
					<span class="objetivo">AYUDA</span>
				</div>
				<div class="area-menu">
					<i class="fas fa-shopping-cart"></i>
					<span class="objetivo">COMPRA</span>
				</div>
				<!-- <span id="objetivo">SISTEMA DE ADMINISTRACIÓN</span> -->
			</div>
		</div>
	</div>
