<div class="contenedor-animales">
	<div id="dog" class="div-img" >
		<img class="img-animales" src="./assets/img/perro1.jpg" alt="perro">
		<div class="texto-animales">PERRO</div>
	</div>

	<div class="seleccion">
		<img class="img-select" src="./assets/img/seleccion.png" alt="seleccion">
		<div class="texto-select">SELECCIONA</div>
		<div class="texto-select">TU MASCOTA</div>
	</div>

	<div id="cat" class="div-img" >
		<img class="img-animales" src="./assets/img/gato1.jpg" alt="gato">
		<div class="texto-animales">GATO</div>
	</div>
</div>
